In [1]:
import pandas as pd
import time
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.utils import to_categorical

In [13]:
df_train = pd.read_csv('C:/Users/PC/Desktop/2/pfa/Datasets/Credit Card Transactions Fraud Detection Dataset/fraudTrain.csv')
df_train .drop(columns=['Unnamed: 0', 'cc_num', 'dob', 'trans_num','first', 'last','street','zip','unix_time','job','gender'], inplace= True)
df_train

,trans_date_trans_time,merchant,category,amt,city,state,lat,long,city_pop,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:18,"fraud_Rippin, Kub and Mann",misc_net,4.97,Moravian Falls,NC,36.0788,-81.1781,3495,36.011293,-82.048315,0
1,2019-01-01 00:00:44,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Orient,WA,48.8878,-118.2105,149,49.159047,-118.186462,0
2,2019-01-01 00:00:51,fraud_Lind-Buckridge,entertainment,220.11,Malad City,ID,42.1808,-112.2620,4154,43.150704,-112.154481,0
3,2019-01-01 00:01:16,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Boulder,MT,46.2306,-112.1138,1939,47.034331,-112.561071,0
4,2019-01-01 00:03:06,fraud_Keeling-Crist,misc_pos,41.96,Doe Hill,VA,38.4207,-79.4629,99,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,2020-06-21 12:12:08,fraud_Reichel Inc,entertainment,15.56,Hatch,UT,37.7175,-112.4777,258,36.841266,-111.690765,0
1296671,2020-06-21 12:12:19,fraud_Abernathy and Sons,food_dining,51.70,Tuscarora,MD,39.2667,-77.5101,100,38.906881,-78.246528,0
1296672,2020-06-21 12:12:32,fraud_Stiedemann Ltd,food_dining,105.93,High Rolls Mountain Park,NM,32.9396,-105.8189,899,33.619513,-105.130529,0
1296673,2020-06-21 12:13:36,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,Manderson,SD,43.3526,-102.5411,1126,42.788940,-103.241160,0
1296674,2020-06-21 12:13:37,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,Sula,MT,45.8433,-113.8748,218,46.565983,-114.186110,0

In [3]:
df_train.dtypes

trans_date_trans_time     object
merchant                  object
category                  object
amt                      float64
city                      object
state                     object
lat                      float64
long                     float64
city_pop                   int64
merch_lat                float64
merch_long               float64
is_fraud                   int64
dtype: object

In [14]:
df_test = pd.read_csv('C:/Users/PC/Desktop/2/pfa/Datasets/Credit Card Transactions Fraud Detection Dataset/fraudTest.csv')
df_test .drop(columns=['Unnamed: 0', 'cc_num', 'dob', 'trans_num','first', 'last','street','zip','unix_time','job','gender'], inplace= True)
df_test

,trans_date_trans_time,merchant,category,amt,city,state,lat,long,city_pop,merch_lat,merch_long,is_fraud
0,2020-06-21 12:14:25,fraud_Kirlin and Sons,personal_care,2.86,Columbia,SC,33.9659,-80.9355,333497,33.986391,-81.200714,0
1,2020-06-21 12:14:33,fraud_Sporer-Keebler,personal_care,29.84,Altonah,UT,40.3207,-110.4360,302,39.450498,-109.960431,0
2,2020-06-21 12:14:53,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Bellmore,NY,40.6729,-73.5365,34496,40.495810,-74.196111,0
3,2020-06-21 12:15:15,fraud_Haley Group,misc_pos,60.05,Titusville,FL,28.5697,-80.8191,54767,28.812398,-80.883061,0
4,2020-06-21 12:15:17,fraud_Johnston-Casper,travel,3.19,Falmouth,MI,44.2529,-85.0170,1126,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...,...,...
555714,2020-12-31 23:59:07,fraud_Reilly and Sons,health_fitness,43.77,Luray,MO,40.4931,-91.8912,519,39.946837,-91.333331,0
555715,2020-12-31 23:59:09,fraud_Hoppe-Parisian,kids_pets,111.84,Lake Jackson,TX,29.0393,-95.4401,28739,29.661049,-96.186633,0
555716,2020-12-31 23:59:15,fraud_Rau-Robel,kids_pets,86.88,Burbank,WA,46.1966,-118.9017,3684,46.658340,-119.715054,0
555717,2020-12-31 23:59:24,fraud_Breitenberg LLC,travel,7.99,Mesa,ID,44.6255,-116.4493,129,44.470525,-117.080888,0
555718,2020-12-31 23:59:34,fraud_Dare-Marvin,entertainment,38.13,Edmond,OK,35.6665,-97.4798,116001,36.210097,-97.036372,0

In [15]:
df_train['trans_date_trans_time'] = pd.to_datetime(df_train['trans_date_trans_time'])
df_train['trans_date_trans_time'] = df_train['trans_date_trans_time'].apply(lambda x: x.timestamp())

df_test['trans_date_trans_time'] = pd.to_datetime(df_test['trans_date_trans_time'])
df_test['trans_date_trans_time'] = df_test['trans_date_trans_time'].apply(lambda x: x.timestamp())

In [16]:
from sklearn.preprocessing import LabelEncoder

# Initialize the LabelEncoder
encoder = LabelEncoder()

# List of columns to encode
columns_to_encode = ['merchant', 'category', 'city', 'state']

# Apply LabelEncoder to each column in the list
for col in columns_to_encode:
    df_train[col] = encoder.fit_transform(df_train[col])

In [17]:
from sklearn.preprocessing import LabelEncoder

# Initialize the LabelEncoder
encoder = LabelEncoder()

# List of columns to encode
columns_to_encode = ['merchant', 'category', 'city', 'state']

# Apply LabelEncoder to each column in the list
for col in columns_to_encode:
    df_test[col] = encoder.fit_transform(df_test[col])

In [18]:
df_train.dtypes

trans_date_trans_time    float64
merchant                   int32
category                   int32
amt                      float64
city                       int32
state                      int32
lat                      float64
long                     float64
city_pop                   int64
merch_lat                float64
merch_long               float64
is_fraud                   int64
dtype: object

In [19]:
df_test.dtypes

trans_date_trans_time    float64
merchant                   int32
category                   int32
amt                      float64
city                       int32
state                      int32
lat                      float64
long                     float64
city_pop                   int64
merch_lat                float64
merch_long               float64
is_fraud                   int64
dtype: object

In [21]:
X_train = df_train.drop('is_fraud', axis=1)
y_train = df_train['is_fraud']

X_test = df_test.drop('is_fraud', axis=1)
y_test = df_test['is_fraud']

In [22]:
X_train.head()

,trans_date_trans_time,merchant,category,amt,city,state,lat,long,city_pop,merch_lat,merch_long
0,1.546301e+09,514,8,4.97,526,27,36.0788,-81.1781,3495,36.011293,-82.048315
1,1.546301e+09,241,4,107.23,612,47,48.8878,-118.2105,149,49.159047,-118.186462
2,1.546301e+09,390,0,220.11,468,13,42.1808,-112.2620,4154,43.150704,-112.154481
3,1.546301e+09,360,2,45.00,84,26,46.2306,-112.1138,1939,47.034331,-112.561071
4,1.546301e+09,297,9,41.96,216,45,38.4207,-79.4629,99,38.674999,-78.632459

In [23]:
# Normaliser les données
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [25]:
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import SimpleRNN, Dense
from sklearn.preprocessing import StandardScaler

In [26]:
# Reshape des données pour RNN (n_samples, timesteps, n_features)
# Ici, timesteps = 1 et n_features = nombre de colonnes dans X_train_scaled
X_train_rnn = X_train_scaled.reshape((X_train_scaled.shape[0], 1, X_train_scaled.shape[1]))
X_test_rnn = X_test_scaled.reshape((X_test_scaled.shape[0], 1, X_test_scaled.shape[1]))

# Créer le modèle RNN
model_rnn = Sequential()

# Ajouter une couche SimpleRNN
model_rnn.add(SimpleRNN(50, input_shape=(1, X_train_rnn.shape[2])))

# Ajouter une couche de sortie Dense
model_rnn.add(Dense(1, activation='sigmoid'))

C:\Users\PC\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\rnn\rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

In [27]:
# Compiler le modèle
model_rnn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [28]:
# Entraîner le modèle
model_rnn.fit(X_train_rnn, y_train, epochs=10, batch_size=32, validation_data=(X_test_rnn, y_test))

Epoch 1/10
40522/40522 ━━━━━━━━━━━━━━━━━━━━ 162s 4ms/step - accuracy: 0.9908 - loss: 0.0362 - val_accuracy: 0.9953 - val_loss: 0.0164
Epoch 2/10
40522/40522 ━━━━━━━━━━━━━━━━━━━━ 158s 4ms/step - accuracy: 0.9945 - loss: 0.0186 - val_accuracy: 0.9951 - val_loss: 0.0150
Epoch 3/10
40522/40522 ━━━━━━━━━━━━━━━━━━━━ 222s 4ms/step - accuracy: 0.9951 - loss: 0.0168 - val_accuracy: 0.9964 - val_loss: 0.0128
Epoch 4/10
40522/40522 ━━━━━━━━━━━━━━━━━━━━ 177s 4ms/step - accuracy: 0.9955 - loss: 0.0156 - val_accuracy: 0.9967 - val_loss: 0.0119
Epoch 5/10
40522/40522 ━━━━━━━━━━━━━━━━━━━━ 176s 4ms/step - accuracy: 0.9956 - loss: 0.0152 - val_accuracy: 0.9969 - val_loss: 0.0117
Epoch 6/10
40522/40522 ━━━━━━━━━━━━━━━━━━━━ 176s 4ms/step - accuracy: 0.9958 - loss: 0.0148 - val_accuracy: 0.9968 - val_loss: 0.0120
Epoch 7/10
40522/40522 ━━━━━━━━━━━━━━━━━━━━ 190s 4ms/step - accuracy: 0.9956 - loss: 0.0150 - val_accuracy: 0.9965 - val_loss: 0.0126
Epoch 8/10
40522/40522 ━━━━━━━━━━━━━━━━━━━━ 193s 4ms/step - accuracy: 0.9958 - loss: 0.0144 - val_accuracy: 0.9969 - val_loss: 0.0119
Epoch 9/10
40522/40522 ━━━━━━━━━━━━━━━━━━━━ 218s 4ms/step - accuracy: 0.9957 - loss: 0.0143 - val_accuracy: 0.9969 - val_loss: 0.0112
Epoch 10/10
40522/40522 ━━━━━━━━━━━━━━━━━━━━ 195s 4ms/step - accuracy: 0.9960 - loss: 0.0142 - val_accuracy: 0.9970 - val_loss: 0.0110

In [29]:
# Évaluer le modèle
loss, accuracy = model_rnn.evaluate(X_test_rnn, y_test)
print(f'RNN Test Accuracy: {accuracy:.4f}')

17367/17367 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - accuracy: 0.9967 - loss: 0.0121
RNN Test Accuracy: 0.9970